[2015-12-16 08:05] railsmechanic opened #1 "How get jobs fetched from redis?"
I'm a noob to Elixir and looking for a job queue that I can adapt to my needs and your project looks good.
After a quick look on your source, I'm wondering where new jobs gets fetched from Redis.
Is the fetching done via the
[code]
function in the `Verk.WorkersManager` module?

Many thanks for explaining

[2015-12-16 22:26] edgurgel commented on #1
That's exactly where it happens. If the GenServer didn't receive any message, a :timeout will happen (that's the optional last argument of a gen server reply/noreply, more info here: http://www.erlang.org/doc/man/gen_server.html) and the WorkersManager will look for jobs to execute.

https://github.com/edgurgel/verk/blob/master/lib/verk/workers_manager.ex#L64-L77

It asks the QueueManager for jobs

[2015-12-17 07:58] railsmechanic commented on #1
Thank you for explaining that to a noob...:+1::smile:

[2015-12-17 08:30] edgurgel commented on #1
Great! Do you mind if I close the issue? :)

[2015-12-17 09:08] railsmechanic commented on #1
No, please close it...

[2015-12-19 08:19] #1 closed

[2015-12-19 13:20] benwilson512 opened #2 "Comparison to Exq"
Hey!

More of question than anything else, could you comment a bit on the differences between this library and exq?

Thanks!

[2015-12-19 20:58] edgurgel commented on #2
The main focus of verk is to always perform the job at least once. That's why we use a lot of Redis Lua scripting so Verk never has the job outside of Redis.

We wanted to keep things simple and use poolboy(or any other solid pool library) to control the lifetime of our workers. This allow us to focus on managing the jobs and keep the processes hierarchy simple and isolated so restarts/crashes on

[2015-12-19 21:26] edgurgel opened #3 "Error reporting"
We need to find a way to report errors that happened with a job so the user can define/use their own error reporting system (Airbrake, Raygun, etc)

My initial idea was to create events using GenEvent and one of them would be "error happened". The same GenEvent could be used to handle metrics as well.

[2015-12-20 22:56] akira opened #4 "Handle case where Redis is down then up"
I was playing with this, and saw an issue if we disconnect Redis and then reconnect it.

Once Redis is back up, I'm getting this error:
[code]
Looks like the Lua scripts need to be reloaded?  Wonder if there is a way to listen to disconnect/reconnect events from Redix.

[2015-12-21 08:37] edgurgel commented on #4
Yeah restarting Redis will flush the instance which is different from losing connection with Redis. I don't even know how to properly check if the script is good to be used at this point. Nice catch! Thanks for the report!

[2015-12-21 08:42] edgurgel commented on #4
Apparently the way to go is to always send an INFO command when a connection is set up and check if the `run_id` didn't change.

It's easy to keep the `run_id` on an ETS table and just check if the value is the same. If it's not, reload them.
From Redis docs

http://redis.io/commands/EVAL

[2015-12-21 08:46] edgurgel commented on #4
Other safe way is to always load the scripts when a connection is set up ¯\_(ツ)_/¯

[2015-12-21 09:29] whatyouhide commented on #4
@edgurgel I'm working on a "resiliency API" that will let you hook functions up for disconnections/failed connections events, but right now yeah, it'll blindly try to reconnect :\ I'll let you know when the new API is ready!

[2015-12-21 09:39] edgurgel commented on #4
Cool! Thanks for the heads up :)

[2015-12-22 03:10] #4 closed

[2015-12-22 20:35] #2 closed

[2016-01-04 23:14] #3 closed

[2016-01-07 02:34] edgurgel opened #7 "Enqueue jobs to start at some point in time"
* Add `Verk.enqueue_at` or something like this
* Change the `ScheduleManager` to look for jobs on `retry` and `schedule` `ZSET`s

[2016-01-21 22:56] edgurgel opened #15 "Store too many retried jobs into a set of dead jobs"
After too many retries the job should be inserted into a set of dead jobs. The set should have a maximum of X dead jobs.

X could be 1000 for now?

[2016-01-22 01:37] edgurgel opened #16 "Add the backtrace to the job when enqueued to retry"
We should include the backtrace (or at least some part of it) into the job when failing and scheduling to be retried.

[2016-01-30 07:07] #16 closed

[2016-02-03 22:05] edgurgel commented on #7
Done by https://github.com/edgurgel/verk/pull/20

[2016-02-03 22:05] #7 closed

[2016-02-03 22:07] edgurgel opened #21 "Limit the stacktrace saved after a job failed"
Right now we store the whole [stacktrace](https://github.com/edgurgel/verk/blob/master/lib/verk/queue_manager.ex#L127) but we should limit for the first N lines. Probably just a configuration to set up with the default being...5 lines?

[2016-02-04 15:32] veverkap opened #23 "Utilize Redis Connection Outside Verk"
I'm fairly new to Elixir so there might be an obvious answer to this, but is there an easy way to reuse the Redix connection that Verk opens up elsewhere in the code?

[2016-02-04 21:01] edgurgel commented on #23
Yes! You can simply use `Verk.Redis` as the process that you want to interact with.

Something like [this](https://github.com/edgurgel/verk/blob/aff780a7176653a01e381e9e28a81047e3bc230a/lib/verk/queue.ex#L12)

`Redix.command!(Verk.Redis, ["LLEN", queue_name(queue)])`

[2016-02-04 21:10] veverkap commented on #23
AWESOME!  Thanks!

Really liking Verk a lot.

[2016-02-04 21:10] #23 closed

[2016-02-04 21:12] edgurgel commented on #23
:+1: :tada:

[2016-02-11 20:49] veverkap commented on #23
@edgurgel is there any way to adjust the connection pool size?

[2016-02-11 21:04] edgurgel commented on #23
There's no pool of connections. Verk has 1 general usage connection (`Verk.Redis`), 1 connection for the ScheduleManager and 1 connection per QueueManager(which means 1 connection per queue).

What can be done is a simple function to start a new one if some user needs. Maybe adding a new function like

`Verk.Redis.start_link/0`

This would start a new redis connection using the same configuration

[2016-02-20 02:26] veverkap opened #27 "Disconnected from Redis (unknown POSIX error)"
I've got a number of errors in my log for

[code]

The GenServer doesn't die, but it seems that 0.3.4 of redix fixed this.  (See https://github.com/whatyouhide/redix/issues/19)

Can you advise?

[2016-02-20 02:27] veverkap commented on #27
FWIW, I do not use a password on my ElasticCache redis

[2016-02-20 11:44] edgurgel commented on #27
Is there any other logged message after or before this? Is this affecting Verk?

I will investigate soon as we are using ElasticCache too!

Having this [proposed change](https://github.com/whatyouhide/redix/issues/20) would help a lot to understand what's happening

[2016-02-20 13:35] veverkap commented on #27
No that is the only message logged.

On Saturday, February 20, 2016, Eduardo Gurgel <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2016-02-22 10:00] edgurgel commented on #15
Done by https://github.com/edgurgel/verk/pull/22 . Thanks, @bastos ;)

[2016-02-22 10:00] #15 closed

[2016-02-28 10:33] edgurgel commented on #27
I will update Redix as soon as a new stable version is released with this change: https://github.com/whatyouhide/redix/pull/22

[2016-02-28 16:27] veverkap commented on #27
Perfect.  Thanks.

[2016-03-08 03:30] edgurgel opened #32 "Generate stats per queue"
Right now Verk does not use Redis to store stats about the jobs. We can easily "flush" data from the `QueueStats` handler to the keys.

We could keep track of how many failed and processed jobs per queue and also overall.

[2016-03-10 09:36] edgurgel commented on #27
Done. If you run mix `deps.update verk` it should go to `0.9.9` and Redix `0.3.4`. Then we can find out more about theses logged messages.

[2016-03-13 23:31] edgurgel commented on #27
Just to you know we are using the latest Verk with Elasticache and we are also seeing this:

[code]

So elasticache is timing out.

I also noticed that Redix Connection is crashing due to the server timeout (I think?)

[code]

I'm trying to find an easy way to set up something like `ToxyProxy` so I can track down what's happening and see why Redix is crashing when I think it shouldn't. This is jus

[2016-03-14 09:38] whatyouhide commented on #27
@edgurgel Crashing after timing out should not be the expected behaviour :\ Let me know if you manage to set up a stable way to reproduce this and I will investigate (open an issue on redix directly). Btw, `v0.3.5` is out, make sure to update to that as well :)

[2016-03-14 10:03] edgurgel commented on #27
I'm still trying to reproduce. I will open an issue as soon as I find a way to reproduce it. I'm using redix v0.3.5 :+1:  Thanks for the feedback!

[2016-03-15 04:38] edgurgel commented on #27
I'm still wondering why I didn't get this logged:

https://github.com/fishcakez/connection/blob/master/lib/connection.ex#L681-L684

[code]
This exit is from the line 687 which outputted the Crash Report I mentioned above.

[2016-03-15 04:46] edgurgel commented on #27
I will ensure that the Logger config is set and check again.

[code]

[2016-03-15 10:44] edgurgel opened #34 "Change Verk.Log to use proper units"
We are always logging seconds

It would be nice to see them in micro seconds if less than 1 second. Basically use the appropriated unit depending on the value.

[2016-03-15 10:52] edgurgel opened #35 "Change `lpop_rpush_src_dest` script to work in batches"
If for some reason the amount of "inprogress" jobs is too high we may spend too long time putting the jobs back to the queue and getting a timeout.

We should change `QueueManager` to do this in multiple steps.

[2016-03-21 22:18] edgurgel opened #38 "Add some random part to WorkersManager's default timeout"
Right now it seeks for new jobs each second. We should add some random part to it so every queue does not try to fetch at the same time and they keep somehow unsync'd. This could be a problem if someone is running hundreds of queues

[2016-03-26 01:24] edgurgel commented on #32
It closes https://github.com/edgurgel/verk/pull/39

[2016-03-26 01:24] #32 closed

[2016-03-26 04:06] veverkap opened #40 "Timex Version"
What would be the impact of upgrading to Timex 2.0?

[2016-03-27 06:55] edgurgel commented on #40
Probably none! It should be pretty straightforward to upgrade. Want to send a PR? I can do myself later this week.

[2016-03-30 00:00] edgurgel opened #41 "Make WorkersManager default_timeout configurable"
This line should be configurable: https://github.com/edgurgel/verk/blob/master/lib/verk/workers_manager.ex#L12

[2016-04-01 09:01] krasio commented on #40
#43.

[2016-04-04 07:53] edgurgel commented on #40
Closed by https://github.com/edgurgel/verk/pull/43. I will release a new version soon!

[2016-04-04 07:53] #40 closed

[2016-04-05 11:04] krasio commented on #40
I missed some migration steps, see #46 for details.

[2016-04-07 20:43] ricn opened #48 "Testing"
Sidekiq has a few options for testing workers: https://github.com/mperham/sidekiq/wiki/Testing

Do you have any plans to implement something similar or do you have a better approach to deal with workers when running tests?

[2016-04-07 22:21] edgurgel commented on #48
That's a great question. I have no plans but I would be glad to work on something like this :+1:

[2016-04-07 22:44] edgurgel commented on #48
Testing an actual worker should be easy as testing a function of a module cause that's what it is.

The other case would be testing the fact that you enqueued a job. If Verk is running the queue it will try to process the job. A possible solution is to configure Verk to use a different Redis database "127.0.0.1/5" and configure the queues to be empty so that no queue will be processed. Something l

[2016-04-08 19:21] ricn commented on #48
Thanks! I can try it out and see if it "feels" good to test it like this. I think it would be very helpful to add to a wiki page or in the readme.

[2016-04-08 22:22] ricn commented on #48
Now I have written a couple of tests. I did it like this:
`test.exs`
`config :verk, queues: [], redis_url: "redis://127.0.0.1:6379/5"`

In the setup block in the test file I also added `Verk.Queue.clear("default")` because I got just more and more added jobs when calling `Verk.Queue.range(:default)`

[2016-04-09 02:28] edgurgel commented on #48
Great! I should warn that I have plans to soon change every "data set" module like Verk.Queue, Verk.ScheduledSet, etc to have "clear!" and "clear!" so that one will return `{:ok, data}` or `{:error ,reason}` and the `!` one will simply throw an error if it failed. Basically one will use `Redix.command` and the other one `Redix.command!`. This will be a breaking change that I have to or people will

[2016-04-10 11:03] edgurgel opened #49 "Change Verk.Queue, Verk.RetrySet, Verk.SortedSet to have clear!/clear, range!/range..."
These modules should offer "twins" of each function:

Example: `clear!` and `clear` where `clear` returns` {:ok, something}` or `{:error, reason}` and `clear!` will return `something` or throw an error.

This should be done soon as we don't want to break this API after we release 1.0.0

[2016-04-14 10:01] krasio commented on #49
Do you mean something simple like

[code]
or something a little bit more elaborate like returning/raising `Verk.Error` instead of raw `Redix.Error`, etc...

[2016-04-14 10:07] edgurgel commented on #49
It could be simple like that. We could even use a macro like this PR: https://github.com/ericmj/mongodb/pull/51/files the `bangify!`

[2016-04-18 02:39] edgurgel opened #51 "Provide a way to read the job metadata"
It would be interesting if we could provide a way to fetch metadata about the job so that the worker could know which queue, job_id it's working on now.

My initial idea is to use the process dictionary as it's just a metadata related to the worker(process) and it will be cleaned when the job is done or failed. It feels like the perfect use case!

Still need some thought around the API. `Worker.me

[2016-04-21 04:41] krasio commented on #49
Can you please take a look and check am I on the right track - https://github.com/krasio/verk/commits/issues/49.

[2016-04-21 11:03] edgurgel commented on #49
@krasio, that's exactly what I had in mind. Thank you very much! :heart:

[2016-04-22 10:18] edgurgel opened #54 "Add credo"
This will be useful to keep the code consistent.

https://github.com/rrrene/credo

Ideally we can hook the PR with the credo analysis.

We also need to discuss which rules we should follow etc.

[2016-04-22 10:30] #49 closed

[2016-04-24 06:33] #51 closed

[2016-04-24 06:46] edgurgel commented on #51
Final solution: `Worker.current_job` will give the Job struct that the worker is running.

[2016-04-24 10:34] edgurgel commented on #27
I will close this as next Redix versions are handling more cases of timeouts and will it support sync connect which we will use.

[2016-04-24 10:34] #27 closed

[2016-04-24 15:22] veverkap commented on #27
Is Verk targeting the latest Redix now?

[2016-04-24 15:23] whatyouhide commented on #27
Likely not yet as I haven't released the new Redix yet; me and @lexmag are working hard to test it extensively before releasing v0.4.0.

[2016-04-25 00:39] DavidAntaramian commented on #48
One clarification on the above is that if you use environment-specific configurations on top of `config/config.exs`, just setting `queues` to `[]` in a `config/test.exs` file will not prevent Verk from executing workers. When compiling the configuration Mix will _merge_ it with the previously defined Keyword list in the general configuration file, not substitute it. I ran into this snag today tryi

[2016-04-25 02:35] edgurgel commented on #48
Good point. A pretty common way to setup config files is to have `dev.exs`, `prod.exs`, `test.exs` and require it from `config.exs`. This way there's no merge. I think `phoenix.new` does this as initial structure.

[2016-04-25 02:42] DavidAntaramian commented on #48
@edgurgel Sorry, I should have been more specific. That's the type of configuration I am referring to in the above; I didn't include the portion of `config.exs` which performs the `import_config`. There is a merge that occurs when using this method, although I didn't realize it was a deep merge.

[2016-04-25 03:33] edgurgel commented on #48
Yeah Mix will merge the values. I usually separate the configuration completely and leave just the ones that are exactly the same for all environments on `config.exs`. So no verk config on the config.exs but one for each environment.

[2016-04-25 03:40] edgurgel commented on #34
Done by @mitchellhenke through https://github.com/edgurgel/verk/pull/55

Thanks! :+1:

[2016-04-25 03:40] #34 closed

[2016-04-25 23:25] edgurgel commented on #27
@whatyouhide I would love to help you folks test when you think it's close to "stable". Maybe a release candidate? I can test with toxyproxy, etc.

[2016-04-26 07:55] #54 closed

[2016-04-27 21:52] jeregrine opened #58 "Have Verk start as a child the user's supervision tree."
[code]

[2016-04-27 22:00] jeregrine opened #59 ":poolboy.checkout returning :full"
https://github.com/edgurgel/verk/blob/master/lib/verk/workers_manager.ex#L188 on version 0.9.13 (but would happen the same on 10) returns :full

If you need more details from our redis instance we can grab them for you.

[2016-04-27 22:00] jeregrine commented on #59
cc @DavidAntaramian

[2016-04-27 22:17] edgurgel commented on #59
WorkersManager watches the workers and keep track of the free workers. We do this because [`:poolboy.status`](https://github.com/devinus/poolboy/blob/master/src/poolboy.erl#L122-L123) is a `GenServer.call` and we already have the workers information available.

We could simply start using the `status` to know if we have available workers.

I would try this approach changing this private function:

[2016-04-28 13:39] jeregrine commented on #59
Makes sense to me.

[2016-05-02 21:26] #38 closed

[2016-05-03 15:02] whatyouhide commented on #27
@edgurgel hey, sorry for the late reply. I think we have a good Redix release candidate in master right now; do you need an `rc.0` release on hex to test it or is master ok? Btw, thanks for offering to help! 💟

[2016-05-03 21:56] mitchellhenke commented on #59
going to have a go at this

[2016-05-05 22:42] edgurgel commented on #59
Awesome @mitchellhenke. I was thinking on a simple way to run benchmarks for workers.

I was thinking on:

* Enqueue a "StartBenchWorker" that prints the time
* Enqueue 10k/100k NoOpWorkers
* Enqueue a "FinishBenchWorker" that prints the time

We would get for free a pipeline of workers running. OFC that the FinishBenchWorker wouldn't be the strict last worker to run as it will run concurrently wi

[2016-05-08 07:22] edgurgel commented on #27
@whatyouhide sorry for the super late response. I will start playing with the master Redix this week. But don't hold any expectations cause you know xD. Thanks again for such a nice project ;P

[2016-05-08 08:37] edgurgel commented on #58
I just released a new version `0.11`. I'll work on this soon. Technically it's just a change in the way the app starts and README.md instructions.

[2016-05-08 08:40] edgurgel commented on #41
Done by https://github.com/edgurgel/verk/pull/57

[2016-05-08 08:40] #41 closed

[2016-05-09 14:53] jeregrine commented on #58
@edgurgel in our app we configure all of our verk queues to have 0 concurrency for tests.

[2016-05-12 06:55] edgurgel opened #64 "Investigate how to format the stacktrace when it is not a list"
Related to https://github.com/edgurgel/verk/pull/61

I think we should investigate what's the right approach here. Maybe checking ExUnit's code on how they treat this case.

[2016-05-12 18:02] amiel commented on #58
I am experiencing the same issue. Thanks for the fix, I look forward to trying it out.

[2016-05-12 18:20] amiel opened #66 "Change or allow configuration of log levels"
The log level for "start" and "done" for each job is `info`. I would like to not have these logs in production, as we have a high volume of jobs.

I thought about lowering my production log level to `warn`, but I would like the phoenix request log messages, and they are also at `info`.

Two solutions that would work for me:
1. Change `start` and `done` to `debug`. I'm not sure if this would be ide

[2016-05-13 16:31] mitchellhenke commented on #59
So I started investigating this on my machine (2.7 GHz Intel Core i5 / 8 GB 1867 MHz DDR3 for what it's worth).

From this limited benchmark, it doesn't look like `:poolboy.status` makes a significant difference in throughput for 10k or 100k jobs:

| 10k Jobs     |             |          |          |          |          |          |          |          |          |          |
|--------------|-----

[2016-05-13 22:14] edgurgel commented on #59
Great findings. I already have a local branch with some work to investigate extracting part of the workers manager processing to the workers. I will push this soon so we can start discussing. Is it fair?

I would still push forward the :poolboy.status change so we fix the current issue. What do you think?

[2016-05-13 23:27] mitchellhenke commented on #59
That sounds great! I've opened https://github.com/edgurgel/verk/pull/67 for this issue.

I'd be glad to take a look or help for the worker manager/worker changes whenever :)

[2016-05-14 04:59] edgurgel commented on #59
I should also point that it's important to tweak the benchmark as well to check with workers that spend more time doing something. I think it's safe to say you wouldn't put stuff to be done as a job if you can do it instantly. I'm keen to try with some random sleep (say 0 to 60 seconds). So then we have a less artificial benchmark. I will play with the benchmark today :)

[2016-05-14 10:55] #59 closed

[2016-05-14 11:23] edgurgel commented on #59
I forgot to add a comment to this:

Sidekiq can't be a real comparison because of the concurrency that the Erlang VM can deal with. The amount of workers and queues that Verk can handle is much greater. We have 400+ queues running each more than 10 workers per machine. If all of them start hitting Redis to dequeue jobs we may overload the Redis connections with unnecessary requests. The monitoring

[2016-05-15 06:00] edgurgel commented on #27
@whatyouhide Everything seems all good. I tested reconnections and adding latency to get timeouts. LGTM

[2016-05-15 06:07] edgurgel commented on #66
I'm not sure what's the best approach here. I'm not happy with any of the "two" (you listed 3 :P) solutions.

What I can promise is that I will think about this. I always thought that the Logging could be done by adding an GenEvent handler for the job tracking (https://github.com/edgurgel/verk#error-tracking). I'm not sure how it would impact Verk. Then we could open an option to not start this ha

[2016-05-15 08:27] whatyouhide commented on #27
@edgurgel this is great! 😃 I will work on Pub/Sub a bit before releaseing `v0.4.0` then, thanks so much for the help 💟

[2016-05-16 18:45] amiel commented on #66
That's fair. (I added a third at the last minute and forgot that I had specified "two").

I like the separate handler idea, although it may be a little more involved for me to help with.

Thanks for taking the time to think about this, being able to configure log levels would help me as I have these messages filtered out, but am still seeing these errors from heroku because of our high volume of l

[2016-05-16 19:40] imranismail opened #68 "Why not mnesia/dets"
I've just started Elixir, and I just wonder what was your reasoning against using an erlang built in solution like Mnesia or DETS for this instead of Redis?

I hope that doesn't sound harsh or offend you, this is a great library.

I just want to get some answers as it's been on my head for quite a bit.

[2016-05-16 20:43] edgurgel commented on #68
Don't worry you offend me by asking a question :P

I wrote a bit about why I picked Redis over Mnesia: https://news.ycombinator.com/item?id=11256867

[2016-05-17 03:01] imranismail commented on #68
Haha, I did huh? Anyways, that seems very reasonable! AWS Elasticache is awesome. Thanks for answering!

[2016-05-17 03:01] #68 closed

[2016-05-18 14:47] mitchellhenke commented on #59
That makes sense, yeah.  Appreciate the explanation.

Is splitting up the things the workers manager has to do (queueing, handling monitoring, etc.) into separate processes worth looking into?

[2016-05-18 22:29] edgurgel opened #69 "Rethink how jobs are managed"
Right now the WorkersManager does a couple of tasks:

* Ask for jobs to be done through the `QueueManager`
* Message workers to do a job
* Receive feedback from workers related to a job
* Track jobs that are being done
* Monitor workers so we know if a job failed
* Acknowledge or schedule for retry through the `QueueManager`

This issue is a starting point to discuss what and if we can split these

[2016-05-18 22:30] edgurgel commented on #59
@mitchellhenke yeah. I just created this [issue](https://github.com/edgurgel/verk/issues/69) so we can discuss more! I'm keen to improve the WorkersManager :)

[2016-05-19 18:36] mitchellhenke commented on #69
My initial thought is that I could imagine seeing them in a couple groups (maybe even more?):

Worker/Job Management Process:
- Receive feedback from workers related to a job (done or failure messages);
- Track jobs that are being done in an ETS table;
- Monitor workers so we know if a job failed because a worker simply died;
- Acknowledge or schedule for retry through the QueueManager;

Job Queui

[2016-05-20 01:33] edgurgel commented on #21
Done by https://github.com/edgurgel/verk/pull/70

[2016-05-20 01:33] #21 closed

[2016-05-26 21:00] #58 closed

[2016-05-30 04:07] edgurgel commented on #58
I just released `0.12.0` with this change. https://github.com/edgurgel/verk/releases/tag/v0.12.0

[2016-06-16 23:17] krasio commented on #64
Looks like this may be bug in `System.stacktrace`:

https://elixirforum.com/t/system-stacktrace-returning-a-genserver-call-tuple/513

[2016-06-17 20:10] edgurgel commented on #64
@krasio awesome finding! 💃

[2016-06-20 16:29] veverkap opened #73 "Verk.Worker.current_job in test environment"
This *may* be related to #48, but I am trying to test my worker that references Verk.Worker.current_job and get an error.

For example, with this worker:

[code]

and this test:

[code]

I get this error message:

[code]

Any ideas?

[2016-06-20 16:52] doomspork commented on #73
If you intend to test your module in isolation you'll need to popular the Erlang process dictionary that Verk relies on, that should solve the error.

Given your example, this test should do the trick:

[code]

[2016-06-20 17:52] edgurgel commented on #73
Another option would be using something that mocks a module like [meck](https://github.com/eproxus/meck), but apparently mocking is not a big thing in Elixir/Erlang

[2016-09-18 08:14] sergiotapia opened #77 "How to get current jobs queued up in all queues?"
I have a few jobs that spawn a very large number of child jobs.

I want to run these initial "spawning" jobs only when the queues are at 0. How can I check that?

[2016-09-19 15:45] karmajunkie opened #78 "Timex 3 support"
Timex 3 is the latest major version, so Verk should probably support that. Opening this ticket to track that support.

[2016-09-19 16:05] mitchellhenke commented on #78
Would dropping Timex in favor of standard Elixir/Erlang times be something to consider if it's a breaking change anyway?

[2016-09-19 16:17] karmajunkie commented on #78
I think its worth considering, though its not just a matter of the date/time structs, which AFAIK is primarily what elixir standardized in 1.3. Timex also adds niceties for dealing with things like durations and timezones that can still be a PITA with the stock functions.  That said, I think the primary use of datetimes in Verk is to mark when jobs were enqueued and whether enough time has passed,

[2016-09-19 16:28] karmajunkie commented on #78
Reviewing the usages of Timex, the _primary_ utility is to get the current unix time, which can easily be replaced by standard lib. There are a couple of ancilliary uses of `Timex.shift` and `Timex.compare` which _could_ be abstracted away if maintainers feel like dropping the dependency is worthwhile. My 2 cents is to be generally in favor of killing dependencies when the utility of them is shall

[2016-09-20 03:49] edgurgel commented on #78
Thanks @mitchellhenke and @karmajunkie. I would be keen to move to `~> 1.3` and remove Timex from our dependencies. What do you folks think?

@karmajunkie, would you be interested in creating a PR? I can definitely work on this till the end of the week (2-3 days from now).

Seems legit?

Then I will just need to update Verk Web to either work with Timex 3 or use standard Elixir :)

[2016-09-20 03:51] edgurgel commented on #78
Not part of this work but I will also use this moment to move to Poison 2 and remove this code https://github.com/edgurgel/verk/blob/master/lib/verk/poison_version.ex

[2016-09-20 04:04] karmajunkie commented on #78
@edgurgel i've got it mostly done now, but having a hard time figuring out how to get `meck` to work. Its not a library I've used before, and in general I try to avoid that kind of mocking so not sure what needs to change to get those tests passing. I'm sure I've made worse whatever my original testing issue was, but maybe you can take a look at it and see. I'll try to get the work I did today to

[2016-09-20 04:05] mitchellhenke commented on #78
That sounds super to me
On Mon, Sep 19, 2016 at 10:51 PM Eduardo Gurgel <notifications@github.com>
wrote:

[2016-09-21 04:02] edgurgel commented on #78
Cool I will take a look at this today! Thank you again for starting this :)

[2016-09-24 20:54] karmajunkie commented on #78
Closing this as #79 was merged in, resolving the issue

[2016-09-24 20:54] #78 closed

[2016-09-25 20:55] edgurgel commented on #78
Awesome! I will update Poison and others libs then release a new major version! Thanks again :)

[2016-09-26 09:47] edgurgel commented on #77
You can use `Verk.Queue.count` https://github.com/edgurgel/verk/blob/master/lib/verk/queue.ex but I don't know if it will be super efficient as you need to keep checking for the count?

You could also investigate using a handler: https://github.com/edgurgel/verk#error-tracking

[2016-09-26 09:55] edgurgel commented on #78
Verk 0.13.0 is out https://github.com/edgurgel/verk/releases/tag/v0.13.0 https://hex.pm/packages/verk/0.13.0
Thanks!

[2016-09-26 14:18] mitchellhenke opened #81 "Configurable max retries"
For myself, the use case is not wanting to retry certain types of jobs, and some others I'd like to retry less than the default.

I would be willing add the feature if this is something would be beneficial to have in Verk.

[2016-09-26 21:02] edgurgel commented on #81
Yes, I want this feature 👍

Do you have any idea on how to approach? I can spend some time architecting the implementation details

[2016-09-26 21:29] mitchellhenke commented on #81
@edgurgel I'm not sure.  My initial thought was something like `use Verk.Job` with a `defoverridable` max_retry_count function.

[2016-09-28 05:44] edgurgel commented on #81
What would be the most generic way to support this?

What I was thinking was: add a `:max_retries` key and each job can have a different `max_retries`.

And then use this OR the "global" definition (which could be an Application env also)

What do you reckon?

[2016-09-28 21:53] mitchellhenke commented on #81
My use case is that I have a number of different kinds of jobs with a varying amount of times each may be run.  I think being able to set it globally, per job type, and per individual job makes sense, and I like the idea of moving it into the Job module/struct.  I'm not sure I like requiring it be specified each time, though being able to configure it per job type is probably the most complex opti

[2016-09-28 22:19] edgurgel commented on #81
Awesome! And we can probably kinda of do all the things proposed above...

Thanks for starting this work!

[2016-09-30 05:37] tlvenn opened #83 "Error Retries and Exponential Backoff"
Hi,

It is not very apparent looking at the doc if the retry mechanism implements any kind of exponential backoff. If not, I believe it would be a good addition. Thanks

[2016-10-02 14:18] #81 closed

[2016-10-03 20:23] edgurgel commented on #83
Sorry! Somehow I missed your issue! We already have a kind of backoff:

https://github.com/edgurgel/verk/blob/master/lib/verk/retry_set.ex#L37-L40

We definitely should document the "average" (as it has a random component) difference between the retries and maybe the "average" last retry.

[2016-10-04 01:36] tlvenn commented on #83
Hey no worry, thanks for getting back to me and great to hear it's implemented already. I think it would suffice to edit the Feature Set first item to say `Retry mechanism with exponential backoff`

[2016-10-09 00:51] #83 closed

[2016-10-31 17:13] keyan opened #89 "Error in decoding job in WorkerManager causes Application crash"
We are seeing this issue come up:

[code]

It looks like what is happening is that a [WorkerManager](https://github.com/edgurgel/verk/blob/master/lib/verk/workers_manager.ex#L102) attempts to decode a job that probably has bad JSON, this makes the worker manager crash and eventually leads to the parent process crashing.

I am confused as to why this would result in our application crashing. We are

[2016-10-31 21:53] edgurgel commented on #89
The application dies cause the Verk.Supervisor is restarting too many times (because the workers manager is restarting too many times). It's really simple to tweak the restart strategy to be something like: "max restart times 99999" and possibly `:infinity` so that `Verk.Supervisor` will never cause a restart of the supervisor above (the App supervisor probably)

We could also discuss that the wor

[2016-10-31 22:03] mitchellhenke commented on #89
Would it be possible to add a new GenEvent and report it that way along with logging?

[2016-10-31 23:06] keyan commented on #89
Thank you both for providing some help and suggestions! To answer them:

I agree, this would not be a good thing to do. I'm fine with not changing that.

Possibly? Our usage right now is to encode the jobs into JSON from a legacy PHP app and write to Redis, Verk then picks up the job. I imagine this is likely a common workflow, although maybe coming from Ruby applications.

I agree that a complica

[2016-11-01 17:58] keyan commented on #89
Okay, I poked around and tried implementing something to send jobs to the dead queue when malformed, and it was pretty messy. I'm okay with just logging the job for now.

Any suggestions on how to handle this? `QueueManager.dequeue` will have already moved the job into the `inprogress` queue, see [here](https://github.com/edgurgel/verk/blob/b9db13cd5afa008ccc51c85fb3c8c807dc18bea3/lib/verk/workers

[2016-11-02 00:20] edgurgel commented on #89
Yeah we need to add to the dead set and then remove from the `inprogress` acknowledging the job.

[2016-11-02 00:22] keyan commented on #89
@edgurgel, oh okay. I misunderstood. I thought you didn't want to move it to the dead set, just log and remove from `inprogress` (which is what I did in #91). I'll open a new PR that instead sends to the dead set.

[2016-11-02 00:45] edgurgel commented on #89
Yeah I wasn't clear! I'm not super decided on which solution to take but logging is way easier :D

[2016-11-02 03:38] keyan commented on #89
Haha no worries. I agree, logging is way easier. I worked on first pass which sent the jobs to the dead set and it complicated things more than I'd like. Given that you are on the fence and the complication you mentioned in https://github.com/edgurgel/verk/pull/91#discussion_r86055106, I am going to go forward with just logging and removing the job.

I ran the changes in #91 in production and we w

[2016-11-04 08:09] #89 closed

[2016-11-14 17:46] keyan commented on #66
Reviving this one. I'm logging way too much and the `start`/`done` message are not useful to me. Any reason you don't like option #2 above @edgurgel? I was imagining:

[code]

A bit verbose, but it allows for using the compile time optimized macros and configuration of each log message individually.

[2016-11-15 09:52] edgurgel commented on #66
@keyan, yeah I don't mind having these options. Maybe just use `Logger.log/3` and pass the level for each one (start_job, finish_job, etc) ? Do you want to send a PR?

[2016-11-15 20:22] keyan commented on #66
Sure I'll open a PR 👍

[2016-11-17 21:18] #66 closed

[2016-12-05 18:32] amiel commented on #66
@keyan wow, thanks for tackling this +1

[2016-12-05 22:43] keyan opened #96 "Allow graceful restarts of Verk applications"
For context: I'm running my Verk-backed application in Kubernetes. When I do a deploy Kubernetes issues a SIGTERM signal, waits 30 seconds, then issues a SIGKILL. There is also an option to run a custom script as a hook before issuing the SIGTERM.

I don't believe that the Erlang VM is handling the Unix signals in any special way, I think instead that eventually Verk is brutally killed, stopping a

[2016-12-07 04:42] edgurgel commented on #96
I would love to have this feature.

Yeah it would be nice if we could stop the "managers" queue/schedule etc and avoid any changes on the queues.

Do you want to give it a try?

[2016-12-07 04:57] keyan commented on #96
Thanks for getting back. Yeah, I'm happy to poke around some more and see if I can think of something that might work.

Also, seeing as the answer to my question was "no", I updated the issue title to reflect the new goal.

[2016-12-12 01:23] edgurgel opened #98 "Retry now script needs to LPUSH before ZREM"
https://github.com/edgurgel/verk/blob/master/priv/requeue_job_now.lua

[code]

If the `ZREM` succeeds but something happens afterwards that LPUSH is not called we may never enqueue again this job. We would rather have 2 jobs than 0 jobs to be processed.

cc/ @keyan

I'm not sure if we want to try to `LREM` if the `ZREM` failed? What do you think?

[2016-12-12 01:29] edgurgel commented on #98
It is supposed to be a rare case that Redis fail to `LPUSH` after a successful `ZREM` but if we can avoid this case by ordering the commands we might as well do it.

[2016-12-12 18:05] keyan commented on #98
Hey Ed, thanks for the write up.

I used this ordering because I was afraid a job might be processed right before we asked to requeue it. But yeah your concern sounds reasonable.

[2016-12-12 21:52] edgurgel opened #100 "s/GenEvent/GenStage/g"
We should probably do this in a way that we would have both running at the same time while users can move their handlers (if any) to the new architecture.

Why? `GenEvent` has lots of issues that we want to avoid. More info here: http://elixir-lang.org/blog/2016/07/14/announcing-genstage/

[2016-12-12 23:07] #98 closed

[2016-12-12 23:09] edgurgel commented on #77
I'm closing but feel free to reopen if it was not enough information

[2016-12-12 23:09] #77 closed

[2017-01-14 18:14] mitchellhenke commented on #100
I'll hopefully have a go at this soon 🙂

[2017-01-15 09:30] edgurgel commented on #100
Awesome :)

[2017-01-16 10:13] mkaszubowski opened #104 "Replace "class" in Verk.Job struct"
Because `class` sounds a bit object oriented, I guess it would be nice if it were replaced. I was thinking that `module` or `worker` would be a bit better.

Let me know what do you think, maybe I can send a pull request with the changes.

[2017-01-16 20:55] edgurgel commented on #104
One very important feature that Verk has is the compatibility with Sidekiq/Reque clients. They use the term `class` and that's why we follow the same convention. We could potentially convert through `Verk.enqueue`, `Verk.schedule` so that our client will talk about "modules" but the underlying implementation should stay as `class`

[2017-01-16 21:24] mkaszubowski commented on #104
Of course, that makes perfect sense not to change the implementation. Having this in mind, I still think that using some other word in the public API would be a nicer and more idiomatic way of using the library.

If you're fine with this, I could try to make a PR with the changes soon.

[2017-01-16 21:31] edgurgel commented on #104
yeah definitely would like to accept it from our client 👍

We would still need to accept `class` or `module`. Thanks for starting this!

[2017-01-26 14:20] teamon commented on #100
+100, GenEvent handles like to break a lot in development when recompiling.
Although I'm not sure if GenStage is really needed (this would be one more additional dependency to track versions/changes)

[2017-01-26 14:41] mitchellhenke commented on #100
@teamon is there something else to use instead of GenStage? While it's not 1.0 quite yet, it has at least been dropped from the "Experimental" namespace 🙂

[2017-01-26 15:24] teamon commented on #100
Don't get me wrong, I am a big fan of GenStage, I just wonder if it is really needed. I guess it's worth to mention that I'm only talking about using GenEvent for monitoring, not the internals. If GenEvent is used for the job processing it definitely might be a good idea to use GenStage :)

[2017-01-26 15:26] teamon opened #107 "Retry now from web ui"
I think the option to "retry now" selected failed jobs would be useful - i.e. to run failed jobs after deploying a fixed codebase.

Thoughts?

[2017-01-26 19:45] edgurgel commented on #107
Yes we have plans to add it: https://github.com/edgurgel/verk_web/issues/11

[2017-01-26 19:45] #107 closed

[2017-01-26 19:47] teamon commented on #107
Ahh, sorry, I haven't checked that repo. Keep up the good work!
On Thu, 26 Jan 2017 at 20:45, Eduardo Gurgel <notifications@github.com>
wrote:

[2017-01-26 19:49] edgurgel commented on #107
All good! Thanks! 👍

[2017-01-29 19:25] #100 closed

[2017-02-09 00:14] edgurgel opened #109 "Populate enqueued_at when enqueuing jobs"
This needs to be done when we enqueue through `Verk.enqueue` and when jobs move from the scheduled set to the queues.

`enqueued_at` is just an unix time of the moment we enqueued.

[2017-02-09 06:11] keyan commented on #104
Late to the discussion on this but I'm not in support of a change to the documentation on this. Possibly open to it with convincing documentation that the naming is causing confusion. But as it stands we don't really benefit from adding an additional option for job enqueueing.

The downside is that we have to do additional work to support a new enqueuing option with the same functionality and we w

[2017-02-15 15:49] taorg opened #111 "Task :timeout"
Hello, how can we configure Verk task (worker) timeout?
We have an applications with several taks, all of then works fine, but some file transfers, take more than tak timeouts and always fail.

How should we configure it ?
We've tryed with workers_manager_timeout: 360000 but we still got  timeout

[code]
Thanx

[2017-02-15 19:28] edgurgel commented on #111
Hey @taorg, Verk does not use Task anywhere. This is probably coming from the lib you are using. There's no timeout for Verk workers. They can take as much time as you want.

[2017-02-15 19:28] #111 closed

[2017-02-15 21:30] taorg commented on #111
Hello @edgurgel, thank you very much for your reply, it helps a lot.
Thx

[2017-02-24 01:07] krasio commented on #109
Kia Ora!

I had some time to work on this. According to https://redis.io/commands/eval we can't get system time in Lua script itself:

[code]
So it have to be passed to the script as argument, which is already done anyway - it's used for the sorted set score.

I did not want to make the script aware for the the difference between the _retry_ and _schedule_ sets, so we can either change it to set e

[2017-03-01 02:56] edgurgel commented on #109
Hey @krasio! I think it's fine. Can you set up a PR? Sorry for the delay

[2017-03-01 18:50] krasio commented on #109
Which one of the approaches will you prefer?

[2017-03-01 22:13] edgurgel commented on #109
Oops sorry I forgot to specify which one. I would simply populate `enqueued_at` when the data is missing. The downside is that people upgrading will see a wrong `enqueued_at` when there's a retry but after some time it will be fine. What do you reckon?

[2017-03-02 00:14] krasio commented on #109
I'm fine with that, will submit PR soon.

[2017-03-22 20:31] keyan opened #113 "Verk should be able to start even if Redis connection is not available"
Several GenServers include operations in their `init()` functions that require a connection to Redis, for example:

https://github.com/edgurgel/verk/blob/e39293e0e65abca14a69ae05990debc74b8ece65/lib/verk/schedule_manager.ex#L31-L34
https://github.com/edgurgel/verk/blob/e39293e0e65abca14a69ae05990debc74b8ece65/lib/verk/queue_manager.ex#L84-L88

This results in these GenServers failing to start when

[2017-03-22 20:45] edgurgel commented on #113
Yeah, I agree that Verk should be able to start without Redis and keep retrying to reconnect etc. Your solution seems to be the way to go 👍

[2017-04-07 12:00] seivan commented on #96
Any progress on this so far?

[2017-04-07 12:10] seivan commented on #96
@edgurgel Just quickly glancing this morning, I'd guess https://github.com/edgurgel/verk/blob/master/lib/verk/queue_supervisor.ex would be a place to trap Unix signals and gracefully manage workers.
My initial take on it would be to make current workers fail so their jobs gets re-queued. But maybe that's already the default behaviour on shut down?

[2017-04-07 13:09] keyan commented on #96
Hey @seivan!

Yeah that is the current behavior. What I wanted to improve was to allow currently executing jobs to complete (whether successful or not) before restarting.

So rather than trap the Unix signal I was hoping instead to execute a simple script on the server running my Verk application. The script connects to the node and issues a `:stop`, which (I believe) invokes the [GenServer.stop/3

[2017-04-08 00:50] edgurgel commented on #96
Hm maybe the first step is to implement pause for a queue (on an instance level) and then we can pause all queues so that we can kill the application?

[2017-04-08 22:39] #109 closed

[2017-04-09 06:21] #35 closed

[2017-04-11 01:31] tlvenn commented on #96
With Erlang 19.3, a release will now do a proper stop when it receives a SIGTERM. So it works properly with kubernetes pod shutdown.

[2017-04-11 06:35] seivan commented on #96
@tlvenn so all we have to do is trap those in supervisors and manage them?

[2017-04-24 15:01] keyan commented on #96
@tlvenn, this simply removes the requirement of explicitly running the `:stop` on the node. We still have the issue, which is figuring out how to implement `stop()` callback such that it has the desired behavior of finishing jobs but not dequeuing new ones.

[2017-04-25 22:04] edgurgel commented on #96
I suppose we just need to implement `terminate` on our managers (workers, scheduler, queue)? I will play with erlang 19.3 later this week. Thanks for the new information!

[2017-04-26 08:14] seivan commented on #96
Yeah, I think that would be a nice design.

Each worker can conform to two protocols (or we call them Behaviour for elixir I guess)
One for doing actual work and one for doing "cancel"

That way each worker gets granular control on how to handle their cancel. Some might just ignore it, others will handle cancel based on what state they're in.

[2017-05-03 23:29] salisbury-espinosa opened #117 "How to restore dynamically added queues"
How to restore queues with data from redis after the application restart, which have been added dynamically `Verk.add_queue(:new, 10) `
At the initial startup, the supervisor only reads the data from the config
https://github.com/edgurgel/verk/blob/062811eeb706133bd5d55e85cd36c017a7ee2da7/lib/verk/supervisor.ex#L19

[2017-05-03 23:39] salisbury-espinosa opened #118 "Jobs with high priority (gap)"
Is it possible to do so that until tasks from the highest priority queue are completed, do not start tasks from others. Or set the task at the top of the queue so that it runs in high priority - RPUSH insteadof LPUSH in Verk.enqueue

[2017-05-04 00:05] edgurgel commented on #117
Verk does not saves the queues that were started dynamically. The initial configuration should have them or when Verk starts, add the queues back again dynamically.

One common use case is to start a supervision tree with the `Verk.Supervisor` then a process that adds the dynamic queues when it starts. So if the supervision tree restarts it will guarantee that the queues were added. I can add more

[2017-05-04 00:10] edgurgel commented on #118
A possible solution is to have 2 queues:

* low-priority
* high-priority

And the amount of workers for the high-priority is greater than the low-priority. This way the high-priority queue will be processed faster than the low-priority and the low-priority will still slowly progress. Would this suffice your use case?

[2017-05-04 00:40] salisbury-espinosa commented on #118
I saw this example in the documentation, but the tasks will not be processed in priority order in this case
for example,  implementation of the `perform` method of all workers contains `GenServer.call` to the same pid

[2017-05-04 00:43] salisbury-espinosa commented on #117
thanks I got it)

[2017-05-04 03:09] salisbury-espinosa opened #119 "How to stop for a while workers for the queue?"

[2017-05-04 03:41] edgurgel commented on #119
Related to https://github.com/edgurgel/verk/issues/96

[2017-05-04 08:46] edgurgel commented on #117
You could for example have a supervisor that has the following supervision tree:

[code]

The `QueuesLoader` can be a `GenServer` that looks like this:

[code]

Notice that this supervisor is a `rest_for_one` so that if `Verk.Supervisor` crashes, it will restart the `QueuesLoader` worker as it's defined after the `Verk.Supervisor`.

[2017-05-06 04:52] #117 closed

[2017-05-06 04:53] #119 closed

[2017-05-06 04:53] #118 closed

[2017-05-06 06:49] salisbury-espinosa opened #121 "Populate finished_at when the job is success completed"
Can be useful for saving the history of completed jobs

[2017-05-07 00:56] edgurgel commented on #121
Yeah currently we don't save the job when it's finished. We could potentially have a limited list of the last jobs completed for inspection?

[2017-05-07 03:24] salisbury-espinosa commented on #121
Yes, in fork, I realized this for my current task.
I just decided that this is a bug, since initially it was laid in the structure, but it never changes after the job is completed

https://github.com/edgurgel/verk/blob/master/lib/verk/job.ex#L8

[code]

[2017-05-07 04:49] edgurgel commented on #121
or we can simply remove the finished_at from the Job and keep it just as part of the Event?

[2017-05-07 10:15] lpil opened #122 "Questions around failure handling"
Hello!

I've just discovered this library, and I'm interested in how it compares to https://github.com/akira/exq

There were a few things I was unable to determine from the documentation and a very quick scan of the codebase.

- Is there a limit to how long a worker can take to process a job?
- When a node goes down and does not recover, how is it determined which "in process" jobs need to be requ

[2017-05-07 18:36] salisbury-espinosa commented on #121
It seems to me so it should not be done. I can save important jobs for logs in a worker and I would like to have this field filled at once, and not to pull it from Verk.Events.JobFinished. It is more convenient and logical that this information should be in the structure Verk.Job

[2017-05-07 20:12] edgurgel commented on #122
Hi @lpil, I will reply to these questions ASAP. Hopefully we can add this to a wiki page or to the README.md :)

[2017-05-07 20:13] lpil commented on #122
Fab, thank you. :)

[2017-05-07 20:20] lpil commented on #113
I'm unsure about this one. Given the init callback is about making guarantees about the readiness of the system should we consider Werk ready if it does not have a connected Redis instance? It seems like a fairly fundamental dependancy.

[2017-05-07 20:39] keyan commented on #113
@lpil I understand your point and perhaps we should just leave it at that.

It might help to explain where I hit this issue at first. I have a webserver which has added Verk to its supervision tree but only uses Verk to enqueue tasks to Redis in the Resque/Verk format. There is a separate processor application that is responsible for dequeueing and processing those tasks. While I understand why it

[2017-05-07 21:36] edgurgel commented on #113
@keyan for your specific use case you could pass a connection to `Verk.enqueue`. So simply handling the connection on your side would do the job.

Ok so Verk supports losing connectivity with `Redis` after it has started but it won't start without it.

I'm not sure if this "inconsistency" is bad or good...

[2017-05-07 21:39] edgurgel commented on #121
Got it. Now I understood what you meant. So the idea is to change `finished_at` inside the `job` struct when publishing the event? Yeah it makes total sense 👍

[2017-05-07 21:50] lpil commented on #113
I've been doing some thinking and [reading](http://ferd.ca/it-s-about-the-guarantees.html) and I think that now I agree with you. Werk can reasonably guarantee that it is in a state where it could accept jobs, though not that it has somewhere to accept them from. :)

[2017-05-08 20:29] edgurgel commented on #122
No. There's no limit.

Verk will save a list of `inprogress` jobs using a node id that you can define as part of your runtime configuration. When Verk restarts it will pick them up and move them back to the top of the queue to run again.  Each node must have a different id.

[2017-05-08 20:31] lpil commented on #122
Seems to be the same as Exq then. If a node goes down and does not recover those jobs are lost without human intervention. Same for if you cluster scales down and a worker is shut down before completing.

I'm surprised I didn't know about the node id configuration, seems very important. Maybe I missed that bits of the docs?

[2017-05-08 20:50] edgurgel commented on #122
Yeah, it's barely mentioned here: https://github.com/edgurgel/verk#configuration

Yeah scaling a cluster of Verk instances can be tricky currently. And we can't guarantee that a Verk instance will have time to move the `inprogress` list back to the queues before it goes down.

The actual problem currently it's that Verk instances do not know about other instances so they can't coordinate any sort

[2017-05-08 21:29] lpil commented on #122
Great, thank you for your help :)

[2017-05-14 04:12] salisbury-espinosa opened #123 "Need replace Timex.DateTime.now -> Timex.now in Readme"
`perform_at = Timex.shift(Timex.DateTime.now, seconds: 30)`

raise error:

[code]

Should use Timex.now

(see https://github.com/bitwalker/timex)

[2017-05-14 08:18] #123 closed

[2017-05-21 09:25] edgurgel commented on #104
I'm closing this as there's no agreement and no real gain to change this.

[2017-05-21 09:25] #104 closed

[2017-05-21 13:54] kirqe opened #124 "Association values are empty inside worker"
Hi, Here're a few parts of my code from a controller

`campaign = Repo.get!(Campaign, id) |> Repo.preload(group: :users)`

`Verk.enqueue(%Verk.Job{queue: :default, class: "EmailWorker", args: [campaign], max_retry_count: 5})`

And here's what I get inside worker when inspecting campaign `args\":[{\"group\":{},\"`

Group **values** are available inside controller but **empty inside worker**.

I als

[2017-05-21 14:11] #124 closed

[2017-05-21 20:25] edgurgel commented on #124
@kirqe , did you find what was the problem?

[2017-05-21 20:32] kirqe commented on #124
Yes, thanks. It started working after I restarted the server. I also needed to add `:users` to Group's  encoder. `@derive {Poison.Encoder, only: [:name, :users]}`

Sorry for opening the issue.

[2017-05-21 20:39] edgurgel commented on #124
All good! 👍

[2017-06-03 22:55] #121 closed

[2017-07-01 05:40] edgurgel commented on #64
We already have code to catch this possible error, but we have no easy way to replicate. I will close for now 👍

[2017-07-01 05:40] #64 closed

[2017-07-01 05:40] edgurgel commented on #48
I'm closing this issue as there's no clear action to be taken .If we need more docs feel free to send a PR to change the README. Cheers!

[2017-07-01 05:40] #48 closed

[2017-07-02 07:12] edgurgel commented on #96
Update:

My plan is:

* Release Verk 1.0.0 with the current master
* Release 1.1.0 with pause and resume https://github.com/edgurgel/verk/pull/127 + Verk Web release with the interface to pause/resume queues
* Work on a simple way to pause queues when SIGTERM/SIGINT is issued (Erlang 19.3+)

[2017-07-11 22:22] ahmadferdous opened #131 "Priority job queue"
Having read the documentation, I got the impression that the job queue that the workers receive job from is FIFO. In many applications, the jobs have priority associated. If I want to make job queue type configurable (FIFO, priority queue), how much design change in `verk` do you think one would have to make?

[2017-07-12 07:12] edgurgel commented on #131
I would simply have multiple queues for different needs. It's a lot easier to have queues for each different priority (`low`, `high`, etc) for your application. I wouldn't build such feature as part of Verk TBH.

[2017-07-24 19:56] ahmadferdous commented on #131
Thanks for your response.

With verk, is it possible to have one worker (or a pool or workers doing the same thing) that all consume from the same set of job queues? For example, let's assume we have 3 queues for 3 different priorities (low, medium, high) for the same kind of job. We have 2 instances of the same worker, who will get jobs according to priority. So, jobs in high priority will be exe

[2017-07-24 20:30] edgurgel commented on #131
No there's no such thing but you can achieve something **similar** by having more workers for the high priority. For example:

* low - 1 worker
* medium - 5 workers
* high - 10 workers

So up to 10 concurrent jobs will run for the high queue, 5 for the medium and just 1 for low.

Sadly it won't use all jobs if just `low` jobs are available.

[2017-08-07 18:01] salisbury-espinosa opened #132 "expected -> clauses for rescue in try"
https://github.com/edgurgel/verk/commit/9b80a3a97a17409f3f1a6b6e38b0a62fc41988dd#diff-3f12772bbd50c9b2d993f795fd835138

error being raised in lib/verk/worker.ex

[2017-08-07 18:07] #132 closed

[2017-08-07 20:50] edgurgel commented on #132
Oh Hey! Could you elaborate more?

[2017-08-08 12:38] mbaeuerle opened #133 "Possible to have an ordered queue?"
My question is, if it's possible to process the incoming work in the order it's arriving.
So if the first job is failing, the other ones have to wait in line for the first one to finish. So only when the first job is finished, the second in line is processed and so on.

[2017-08-08 20:59] krasio commented on #133
Maybe you can enqueue the second job from inside the first job, once all work is done?
Something like
[code]

[2017-08-08 21:13] edgurgel commented on #133
@krasio's suggestion would be the ideal. If jobs are linked one job can start another job once it's done.

And even if there was such feature, if the first job from the queue fails and goes to the retry set, should the second job be started? In this case it's better to start jobs only if their dependencies were achieved as @krasio suggested.

[2017-08-09 06:29] mbaeuerle commented on #133
Thanks for your suggestions.
In our case the jobs are triggered by events which should be handled in the order they arrive. So unfortunately it is not possible to enqueue the next job when the first one has finished.
So maybe `verk` is not quite the right tool for this use case and it's better to use some kind of event queue / event bus.

[2017-08-09 09:02] mbaeuerle commented on #133
Do you think there is much work to do to use `verk` as a basis to achieve the sorted job behavior?

[2017-08-09 21:29] keyan commented on #133
It isn't entirely clear to me how you would want Verk to behave in that case, but it sounds like it would be quite complicated to achieve given the current implementation. Right now Verk job processing control is entirely based on FIFO queue logic.

Imagine the following situation:

- Job A is enqueued
- Job A is dequeued but fails during processing, it is added to the retry queue
- Job B is enque

[2017-08-09 21:40] edgurgel commented on #133
Yeah as @keyan said it's not just a sorted behaviour but a sort of dependency between jobs or something like this.

[2017-08-10 08:10] mbaeuerle commented on #133
Yeah you are both right, it's not quite easy. The approach we will give a try which works without modification of verk itself is to

- limit the queue to one worker
- Now the processing order is guaranteed unless there is a failure and retries
- To failure we implement the retry logic in the worker itself and only when the event was dispatched the worker finishes the job and processes the next one

[2017-08-10 11:34] mbaeuerle opened #134 "Poison 3 support"
Is there a specific reason why verk uses [Poison](https://github.com/devinus/poison) version `2.2.0` and was not updated to version 3 yet or is it already on the roadmap?

[2017-08-10 11:34] #133 closed

[2017-08-13 21:58] edgurgel commented on #134
No reason AFAIK. We can probably relax it to be Poison `~> 2.0 or ~> 3.0` as we probably are not affected by any changes from 2 to 3.

[2017-08-15 23:18] #134 closed

[2017-08-30 12:49] teamon opened #136 "Wrong elixir requirement?"
When compiling with elixir 1.3

[code]

If this mean confex won't run correctly on elixir 1.3 I think verk should also have `~> 1.4` as a requirement.

[2017-08-30 20:55] edgurgel commented on #136
Oh yeah you are right! 😶

[2017-08-31 02:28] edgurgel commented on #136
1.0.2 is out with the proper requirement. Thanks for the bug report! 👍

[2017-08-31 02:28] #136 closed

[2017-09-12 11:40] alexcastano opened #139 "Custom retry backoff time function"
I was reading the code and I concluded that Verk.RetrySet.calculate_retry_at/2 is the function which calculates when a failed job is retried. Is there a way to customize this function? It does not make sense to retry some jobs after several seconds.

If there is not a way, maybe it could be useful to implement this feature in a similar way of max_retry_count:

[code]

If it is not very difficult a

[2017-09-13 21:18] edgurgel commented on #139
Oh hey @alexcastano! It seems to be a reasonable feature request! My questions are:

* Where this configuration will reside? As part of the application level, per queue, per worker? So all workers from your application will use the same backoff_method?
* If it's per job, how to store this info inside the `json`, etc ?

[2017-09-15 09:44] alexcastano commented on #139
Hi @edgurgel,

The first question I would say application and worker level. In my case, application because I want all the jobs retry faster in general, and worker to special cases, I don't use queues at all. However, you are the owner you know better I'm just trying to give you my point :)

I don't exactly the format is used in Redis, but if there is metadata field, we can just include:

[code]

[2017-09-17 20:00] edgurgel commented on #139
I was wondering if we should just make it so that the worker module defines a callback function `retry_at(failed_at, retry_count)` and we just check if it's `exported` when we need to retry?

`:erlang.function_exported(MyWorker, :retry_at, 2)`

and fall backing to a configurable Application wide configuration? Otherwise use the standard?

[2017-09-18 10:10] alexcastano commented on #139
@edgurgel sounds perfect, it makes a lot of sense. I'll send you a pull request when I finish it.

Do you have a way to communicate easily if I have any doubt? ie: slack or gitter?

[2017-09-19 01:20] edgurgel commented on #139
Oh hey! Because of timezones (UTC+12) we may have an async communication but I will checking on gitter: https://gitter.im/edgurgel/verk

[2017-09-26 00:01] edgurgel commented on #96
Ok so Verk `1.1.0` has support to pausing/resuming queues! 🎉

Now we just need to work on how to pause queues before shutting down (which should be the easiest part :D)

[2017-11-16 19:12] keyan opened #142 "Propagate queue pausing across multiple application instances"
Currently Verk doesn't support distributed deployments. If you are running multiple application instances then pausing a queue in one instance will not pause the queue in the other N instances of Verk.

What if instead of writing queue pause/running status to `ets` we write to Redis, then check Redis during queue manager startup and at some interval to know if the queue status should be changed? I

[2017-11-16 20:42] edgurgel commented on #142
Yes! Our pause for now is per instance.

Yes, multiple instance deployment is a really common use-case.

Using `Redis` is an option, yes. I really wanted to have a way to make `Verk` instances aware that they are part of a cluster. My **hope** was to use [Partisan](https://github.com/lasp-lang/partisan) but I'm still playing with it.

Do you want to take a stab implementing the status on `Redis`?

[2017-11-18 21:16] #139 closed

[2017-11-22 10:22] nitinstp23 opened #143 "Verk crashes if a bad worker name is provided"
When I enqueue a job to `Verk` but provide a worker module that does not exists,
Verk fails multiple times and finally crashes the main process `iex`.

Below is the log I see in `iex`.

[code]

Let me know if such errors can be handled gracefully.

Thanks

[2017-11-22 19:42] edgurgel commented on #143
The Verk.Supervisor is added by the user to the Application. The supervisor can be configured however you want. It can restart forever and never cause your application to restart etc.

[code]

You can read more about the options here: https://hexdocs.pm/elixir/1.5.2/Supervisor.Spec.html

[2017-11-29 10:53] nitinstp23 commented on #143
Thanks @edgurgel

[2017-11-29 10:53] #143 closed

[2017-12-04 18:55] keyan opened #144 "Poison 3.0 causes job decoding exceptions"
I upgraded to `1.1.1` a few weeks ago and after a few days of smooth sailing my application was crashing with the following error:

[code]

Turns out I had inadvertently bumped Poison to `3.0.0` at the same time. `3.0.0` introduces a change to the return tuple that breaks the handling added in https://github.com/edgurgel/verk/pull/91. The method signature change is documented in: https://github.co

[2017-12-04 20:43] edgurgel commented on #144
Nice finding! I wonder how the JSON was invalid in the first place 🤔 Was this job added by Verk or another Sidekiq-compatible client?

We definitely need to fix this behaviour

[2017-12-04 21:05] keyan commented on #144
Not even as fancy as another client, while we are migrating stacks many of our jobs are enqueue in php via the following code:

[code]

So I'm pretty sure the issue is on our end, maybe relating to the standard library PHP [json encoder](http://php.net/manual/en/function.json-encode.php).

Regardless, it isn't an issue with `Verk.enqueue`, but I do think it is worth keeping the error handling code

[2017-12-04 21:50] edgurgel commented on #144
We could patch Verk right now by supporting this new `{:error` clause and be fine with either Poison 3.0 or 4.0. What do you think?

[2017-12-04 22:00] keyan commented on #144
Sure, seems fine, the fix is simple: https://github.com/edgurgel/verk/pull/145

[2017-12-04 23:40] #144 closed

[2017-12-04 23:40] edgurgel commented on #144
I will release a new version later today! Thank you again!

[2018-01-13 00:43] fcevado opened #146 "[question] is it possible to configure a queue to allow to schedule a specific job only once?"
i want  to allow a job(same class, args and queue) to be schedule only once... is that possible? i found out that there isn't any easi api to get scheduled jobs or to verify running jobs... i kinda use `Verk.SortedSet.range/4` for that but idk if that is consistent.... i've seen duplicate jobs scheduling nevertheless

[2018-01-14 19:06] edgurgel commented on #146
Even if you implement something with `Verk.SortedSet` there's always a chance for a race condition:

Suppose that the job just came out of the scheduled set.

* Check if this job does not exist on the schedule set
* Job is **not** scheduled but is running
* Add new job to the schedule set

In this case your code will add a new job to the scheduled set.

I'm not sure what's the best approach here 🤔

[2018-01-24 20:21] halfdan opened #147 "Elixir 1.6 compat with warnings as errors"
We use warnings as errors and `verk` shows up as one of the packages that produces a number of warnings on Elixir 1.6.

[code]

I'm not sure what the right thing to do here is, but I'm happy to create a PR if someone can point me in the right direction.

[2018-01-24 21:58] edgurgel commented on #147
Yeah that's interesting. The lint attribute is used by credo. So if credo is not running this attribute will be ignored... 🤔  I think this issue has the way to go: https://github.com/rrrene/credo/issues/291

So I think this needs to be done: https://github.com/rrrene/credo#inline-configuration-via-config-comments

[2018-01-28 18:49] #147 closed

[2018-02-08 18:15] keyan commented on #146
If the goal is simply to prevent rescheduling, one possible solution:

1. create a new set `scheduled`
2. serialize every `Job` struct to a string
3. before scheduling, attempt to write the serialized `Job` to the `scheduled` set using an atomic read/update command, possibly [HSETNX](https://redis.io/commands/hsetnx)
4. only schedule the `Job` if HSETNX returns `1`, otherwise we discard it as a du

[2018-02-15 20:11] nsweeting opened #149 "Scheduled zero arg jobs fail"
It appears as though scheduled zero-arg jobs end up getting their `[]` arg list cast into a `{}` with the `LPUSH` command.

[code]

Currently this results in:

[code]

And the redis console output:

[code]

[2018-02-15 20:26] edgurgel commented on #149
Thanks for the bug report! Yeah this looks wrong 🤔

[2018-02-15 22:11] krasio commented on #149
Looks like this comes from the cjson package used in the lua scripts:

[code]

See also https://github.com/mpx/lua-cjson/issues/11#issuecomment-287617268.

Not sure what can be done. 😞

@nsweeting The only workaround I can think of at the moment is to have at least one argument for such jobs even if it's not used.

[code]

Not Ideal but better than getting that error.

[2018-02-18 16:42] damien-roche opened #150 "Integrating with Phoenix App?"
It's fairly straightforward to add the supervisor to the array of supervisors to start with a Phoenix app, but I don't want to start a Phoenix server along with my workers. I want them both separated, and yet still make use of my app logic from within the workers -- exactly as Sidekiq works when loading in a Rails app.

So I tried this with Phoenix. I have a simple condition in my `application.ex`

[2018-02-18 16:53] damien-roche commented on #150
Actually.. seems like I'll just need to do mimic a little setup from the `init` in `Verk.Supervisor`!

https://github.com/edgurgel/verk/blob/master/lib/verk/supervisor.ex#L20

[2018-02-18 16:53] #150 closed

[2018-02-18 16:55] damien-roche commented on #150
Though I would be interested to hear whether I might be creating any sketchy points of failure here.

[2018-02-20 02:56] edgurgel commented on #149
Maybe we could try to "patch" the JSON when decoding? We know that `args` is an array. I wonder what's the best place to do this... Also maybe check if it's possible to enforce

[2018-02-20 07:10] damien-roche opened #151 "Failed jobs (argument error) retrying indefinitely with max retry count.."
I'm not sure how best to debug this.

In development, I accidentally queued a job with bad arguments. This appears to result in an infinite crash loop where it crashes the worker manager, then queue manager kicks and starts it up again, the job is then retried, and the same exception crashes the worker manager ad infinitum.

Not sure why the retry limit is not kicking in. Checking redis, it doesn'

[2018-02-20 21:01] edgurgel commented on #151
Thanks for the bug report! I will take a look as soon as possible. I think I know what's the issue. We can definitely avoid this issue.

[2018-02-21 01:49] damien-roche commented on #151
Very cool! Thanks very much. I'd dive in myself, but I'm only a week into Elixir.

[2018-03-12 16:14] lms-lamhuynh commented on #151
I mis-typed worker name and now the whole server won't start until I do `redis-cli flushall`. There must be a better way of handling errors like this

[2018-03-12 16:21] damien-roche commented on #151
Glad to see I'm not the only one who ran into this. It wouldn't be so much of a problem if you passed the worker module constants around - but the fact it is passed in as a string removes all compile-time checks that would at least catch this issue before it blows up everything else.

I think there just needs to be a simple check for constant before attempting to call `perform`, etc

[2018-03-12 20:23] edgurgel commented on #151
yeah I agree @damien-roche we should definitely cleanly fail like we do for other common errors. As soon as I have some time to work on Verk I will fix this. 👍

[2018-03-14 04:47] edgurgel commented on #151
Related to https://github.com/edgurgel/verk/pull/141

[2018-03-15 07:54] leifg opened #153 "Unique Jobs"
Sidekiq (at least in the enterprise version) has the feature of [unique jobs](https://github.com/mperham/sidekiq/wiki/Ent-Unique-Jobs) to avoid enqueuing the same job twice.

Does verk come with such a feature or is it planned? Couldn't find anything in the documentation.

[2018-03-17 09:40] krasio commented on #149
What about something like this - https://github.com/edgurgel/verk/pull/154?

[2018-03-18 21:45] #151 closed

[2018-03-22 03:43] #149 closed

[2018-04-05 19:27] florinpatrascu opened #156 "Verk.Events.JobFinished/JobFailed; is it possible to "know" the args values with which the Job finished/failed when we receive the Verk.Events?"
Hi there,

I am new here and I want to start by thanking you for this awesome project!

For our project, we would need to monitor the events around jobs, so that we can send an ... ACK, for example, to an external service when the jobs are done (finished) or another message when/if they are failing. So that the ACK, in my previous example, will contain an ID that was initially given to the Job, as

[2018-04-06 00:57] edgurgel commented on #156
@florinpatrascu yes the `job` is always accessible. more info about the events structs here:

https://github.com/edgurgel/verk/blob/master/lib/verk/events.ex

[2018-04-06 11:02] florinpatrascu commented on #156
Thank you very much indeed, @edgurgel!

[2018-04-06 11:02] #156 closed

[2018-04-17 16:33] tlvenn commented on #96
@edgurgel have you ever got around implementing the pausing of queues before shutting down ?

[2018-04-18 00:25] edgurgel commented on #153
Sorry for the super late reply!

No we don't have any sort of unique job processing, but it would be nice to have! I'm not sure which guarantees we would provide. For example, for how long should we guarantee uniqueness? etc

[2018-04-18 00:34] edgurgel commented on #96
@tivenn, sadly not :(

One way of implementing this is having a process as part of the supervision tree that pauses all the queues during shutdown and waits for them as much as `timeout` then finally shutdown.

I'm not sure when I will have time tbh but it's something that we really want to have :)

[2018-04-24 17:15] sebastianseilund opened #157 "Support dynamic node set (auto-scaling, Heroku, Kubernetes, etc.)"
Continuing discussion from #155.

Summary: Due to how `node_id` works it's currently infeasible to have job-running nodes that come and go (e.g. when running on Kubernetes, or when scaling up and down in Heroku).

Current problems:

- If a node comes online with the same `node_id` as another actively running node, all in-progress jobs on that node will be re-enqueued immediately. This happens when

[2018-04-25 07:41] myobie commented on #157
I prefer the way rabbit works where it doesn't have a message timeout, but a connection timeout means all messages for that connection are then considered "available to be claimed."

If, instead of using a `node_id` for verk, one used a random UUID for each connection and that connection maintained a heartbeat, then this could be approximated. If the `Supervisor` knows to explode if the heartbeat

[2018-04-26 02:42] edgurgel commented on #157
@sebastianseilund thanks for starting this discussion!

@myobie, I'm not 100% sure I understood the proposal. I think the best way to model this problem is:

We have 3 instances running and one of the instances crashes abruptly (so no time for any code to run). Will the remaining 2 instances pick up the jobs that were in progress from the instance that just crashed?

So if our design cover this ca

[2018-04-26 06:24] myobie commented on #157
There is a case where a worker seems to have crashed, but hasn’t. That is why I recommend a connection level heartbeat. Periodically all clients can look for stale jobs where the heartbeat is old and capture those jobs with an atomic operation. All clients must themselves self destruct if trying to set their heartbeat fails. If a connection is open (heartbeat is updated) then the machine is still

[2018-04-27 16:43] sebastianseilund commented on #157
@myobie thanks for the input! Can you clarify what you mean by a "connection"?

I think the concept of using a heartbeat (i.e. an expiration time that's continuously updated by the worker node) sounds better than a timeout. To be clear, it would be the responsibility of Verk's QueueManager or WorkerManager (not 100% into the terminology yet) to update this heartbeat, not each individual job implem

[2018-04-30 21:45] edgurgel commented on #157
I'm keen to investigate this first as it's more generic and it can handle all queues related to a node etc. I'm probably going to hack something this weekend so I can explain my idea after trying it out :)

Thanks everyone for this discussion. This is really really helpful.

[2018-05-01 11:37] myobie commented on #157
@sebastianseilund sorry to be a few days responding.

What I mean by "connection" is treating the three redis connections as one unit. If one fails, then they all must fail. Then I think you can say a worker has a "connection" and that connection has a heartbeat.

@edgurgel I am not as available as I'd like over the next two weeks, but if you have something you want to get feedback on then include

[2018-05-01 16:02] novaugust opened #158 "Jobs running on servers that don't have that queue"
I have a cluster of nodes all responsible for running different queues with some overlap.

My configuration is something like this
[code]
The intention here is to keep the web server from overworking itself between web requests and running jobs.

The issue, though, is that the `:web` server still occasionally runs jobs from queues `b` and `c`. Am I missing something here for keeping it from doing

[2018-05-01 19:00] novaugust commented on #158
If someone else ever does this, remember that queues themselves will be deepmerged in config since they're just keyword maps.

[2018-05-07 09:09] edgurgel commented on #157
Hey team here is my first stab at solving this issue. The idea is:

(`frequency`) = 60 seconds ?

* On starts Each node generates a new id (We can check if it's actually new by the result of `SADD`)
  * `SADD nodes node_id`
  * `PSETEX verk:node:#{node_id} 2 * frequency alive]`
* Each time a node starts working on a queue the queue name is added to "node:queues" set;
* Each time a node stops worki

[2018-05-08 17:14] sebastianseilund commented on #157
Sounds very reasonable to me. Thank you so much for spending time on it! Let me know if there's anything I can do to help or review.

[2018-05-20 20:59] #96 closed

[2018-06-27 12:53] florinpatrascu opened #164 "feedback; Configuration examples/feedback for systems with limited resources (memory)?"
Hi there, and thank you for this project!

I'd like to learn if any of the Verk users here are running systems where they encountered situations where the number of queued jobs are accumulating at a rate such that they might exceed the total memory available to Redis?! What happens in these situations? Any advices you could share? I'd avoid clustering Redis.

Thank you!

[2018-06-27 12:56] tlvenn opened #165 "Strange behaviour with integer argument, potential bug"
Hi,

It seems like integer are not properly decoded for some reason. For example the following:
[code]

is failing with:

[code]

2 things to notice from the errror and stacktrace:
- Somehow in the last message, the integer has been casted to a float `3.9308728862946e17`
- The root issue seems to be with the `argument error` being emitted by `:erlang.binary_to_integer(393087288629462191)`. I dont

[2018-06-27 14:23] tlvenn commented on #165
@edgurgel any though ? Thanks in advance !

[2018-06-27 21:00] krasio commented on #165
`cjson` strikes again?

[code]

[2018-06-27 21:09] krasio commented on #165
Comparison with Poison:
[code]

[2018-06-27 21:13] edgurgel commented on #165
-.- @krasio haha `cjson` is basically the reason of all problems :)

[2018-06-27 21:19] edgurgel commented on #165
Yeah it's because this is not an "integer" anymore. It's a "Big Number" that cjson won't support.

For numbers that are larger than 32 bits you will need to use a string I think and then convert

[2018-06-27 21:28] edgurgel commented on #165
More here: https://github.com/DaveGamble/cJSON/issues/162

I'm not sure if we can do much apart from documenting that we should avoid numbers greater than `2^32`

[2018-06-28 01:47] tlvenn commented on #165
Ha thanks for pointing out cJson, I did not realise that the LUA scripts needed to decode the job to move it around on redis side.

The thing is the LUA side does not care at all about the job args so it seems we only need to wrap it in a way that it will be treated as a string as far as cJson is concerned but on elixir side when we decode the job, we could unwrap it.

Simply doing a 2 pass Json e

[2018-06-28 02:32] edgurgel commented on #165
Ok so the reason why we need to encode again is for this:

https://github.com/edgurgel/verk/blob/master/priv/enqueue_retriable_job.lua#L7-L12

We had `enqueued_at` to the JSON.

A **really really** nasty solution?

Add "manually" to the original json the key `"enqueued_at" : ...`

Then we won't suffer of cjson encoding rules?

[2018-06-28 02:46] tlvenn commented on #165
Ya i saw that and it's fine, my point is as far as Redis / LUA is concerned, the args can be opaque, it never needs them. So we can protect them from cJson by simply encoding them as a json string using Poison meaning that in Redis, the args is a Json encoded string.

We simply need to have a custom decoder / encoder with Poison. Might be a good opportunity to switch to Jason as well.

[2018-06-28 02:53] edgurgel commented on #165
That's the problem. It needs them.

It needs to know which queue will be moved to and it needs to populate the `enqueued_at`. We can't remove from the sorted set before we add to the queue so we don't have jobs out of Redis at any point in time.

[2018-06-28 02:53] edgurgel commented on #165
Or do you mean double encoding just args?

[2018-06-28 02:54] edgurgel commented on #165
Now I understood your point! :)

[2018-06-28 02:55] edgurgel commented on #165
Yeah I'm completely fine doing this approach + using Jason if it makes sense 👍

[2018-06-28 07:31] edgurgel commented on #165
The only downside that I can think of is that it won't have the property of accepting "Sidekiq/Resque" clients sending jobs to Verk. They would need to double encode args before enqueuing the job 🤔

[2018-06-28 14:13] tlvenn commented on #165
Hmm I did not think about that.. We should be able to detect this easily enough, the args should never be a string to begin with so I can unwrap when I detect one (a job being enqueued by Verk) or otherwise bypass this step (a job enqueued by Sidekiq/Resque).

[2018-06-28 14:29] tlvenn commented on #165
I have pushed the commit to take care of that and fixed the 2 credo issues.

[2018-07-02 03:37] #165 closed

[2018-07-02 05:07] tlvenn opened #167 "Add mix task to reset queues"
I saw this with task_bunny and I think it's pretty useful in dev

[2018-07-02 05:10] tlvenn opened #168 "Add pending jobs to queue stats"
Would it be possible / easy enough to add the number of pending jobs to the queue stats ? Right now it does not seem possible to compute this at all using the API.

[2018-07-02 22:22] edgurgel commented on #168
`QueueStats` are current stats about the running queues. For the data sitting inside Redis we usually use the Queue API. Verk Web has most of the data available: https://github.com/edgurgel/verk_web

https://github.com/edgurgel/verk_web/blob/master/web/views/queues_view.ex#L4-L9

[2018-07-07 06:17] sebastianseilund commented on #157
For anyone else using Verk in Kubernetes: It actually works quite well to use a StatefulSet and use environment variables to name the node_ids, as long as you don't need to scale the number of workers up/down a lot.

Define your worker like this:

[code]

Kubernetes will then make sure to always have `spec.replicas` number of pods running. Each will get a label, `statefulset.kubernetes.io/pod-name

[2018-07-07 07:35] edgurgel commented on #157
@sebastianseilund Thank you so much for sharing this! It would be amazing to have this part of the README 👍

Update: I'm still playing with the "resilient-verk" branch trying to find reasonable integration tests to cover this feature. Failure detection is a complex topic 😆

[2018-07-08 20:15] klebervirgilio commented on #167
@tlvenn @edgurgel Can I work on this one?

[2018-07-08 20:49] edgurgel commented on #167
Fine by me! 👍

[2018-07-09 00:36] klebervirgilio commented on #167
About removing the queues, do you guys think would be a good idea to only remove the queues listed in the config files?

Something like: https://github.com/klebervirgilio/verk/commit/b0fcbd9d4f887dd8edb812079f6555f4a1337c8a

[2018-07-09 08:04] edgurgel commented on #167
I think that's good enough for now. I'm not sure how common is the use case of starting queues dynamically 👍

[2018-07-10 02:56] edgurgel commented on #164
Hey @florinpatrascu ,

I can give you my view on this topic. Verk is really useful if you want to have a set of queues processing jobs and having specific limits per instance for each queue. But it's not meant to be used like Kafka or Rabbitmq consumers. It won't use disk to store excess of jobs for example.

Verk is also capable of scheduling jobs to run in the future and also a sensible retry st

[2018-07-10 12:42] florinpatrascu commented on #164
Thank you so much, Eduardo! It's inline with what we were hoping to hear, and the extra details about the criteria for setting alarms, was a boon! Thank you so much, and thank you for Verk, once again :)

[2018-07-10 12:42] #164 closed

[2018-07-10 21:51] edgurgel commented on #164
@florinpatrascu , no problem!

BTW I'm also working on a project called `verk-stats` which basically extracts this code that publishes metrics about the queues/jobs and it will include the queue/job latency so everybody can use it. It can be used with `statsd` or anything really. You will just need to define a "sink" pretty much like [`vmstats`](https://github.com/ferd/vmstats) does.

[2018-07-13 20:02] sebastianseilund commented on #157
Done: https://github.com/edgurgel/verk/pull/169/files

[2018-09-04 05:45] tlvenn commented on #167
Hi @klebervirgilio, could you please make a PR so we can review and merge? Thanks !

[2018-09-06 08:05] klebervirgilio commented on #167
@edgurgel @tlvenn before I open a PR, I was wondering, do you think is a good idea use `Verk.Queue.` instated of calling Redix directly? IMO, the good thing about it would be that Verk.Queue is the module where knowledge about Queue should live.

[2018-09-12 20:34] edgurgel commented on #167
Hey sorry for the late reply!

I agree Do you mind adding a new function to `Verk.Queue` and using it for the mix task?

[2018-09-13 20:14] tinenbruno opened #170 "Unable to overwrite `max_retry_count` via config.exs"
Hello!

I started integrating with Verk today and I am having some issues with `max_retry_count`. Apparently, `Verk.Job` is always setting the default `max_retry_count` to 25.

I tried to `Confex.get_env{:verk, :max_retry_count)` on my app and it returned the correct value, however running `Verk.Job.default_max_retry_count` is returning 25.

For now the workaround is to set the `max_retry_count` o

[2018-09-13 20:24] tinenbruno opened #171 "Event for dead job"
Hello!

In some cases, I would want to run an action when a job goes to the Dead queue. I saw that there are some events for jobs already, like job failure. Would it be desirable to have a dead event?

Another use case might be when a user wants to run some action after a set number of retries. The map passed to the job failure event does not have this info.

[2018-09-13 21:35] edgurgel commented on #170
From `Verk.Job`

[code]

So yeah, it's using the `max_retry_count` during compilation not during execution!

We should probably set this to be `nil` by default and populate when decoded/encoded ? 🤔

[2018-09-13 21:35] edgurgel commented on #170
Another workaround is to always pass `max_retry_count: nil` when creating a new job. It should fetch the config when `Verk.enqueue` runs

[2018-09-17 23:43] edgurgel commented on #122
I think we now have a great section about this topic : https://github.com/edgurgel/verk#deployment

[2018-09-17 23:43] #122 closed

[2018-10-17 17:22] florinpatrascu opened #173 "Question. Can Verk check more frequently for new jobs?"
Hi there - I have a system using Verk and I am curious if Verk can check for new jobs more frequently (with Redis)? If yes, is that a configuration setting I could use? Thank you!

[2018-10-17 19:47] edgurgel commented on #173
Yes. There's a `workers_manager_timeout` which is not the best name I've ever created 🤔

We use this number (in milliseconds) + some randomness to fetch new jobs from Redis.

[2018-10-17 19:49] florinpatrascu commented on #173
Awesome! Thank you!!

[2018-10-17 19:49] #173 closed

[2018-10-29 18:08] tinenbruno opened #174 "Undocumented `max_dead_jobs`"
Hello!

I noticed that the `max_dead_jobs` configuration is undocumented and might cause some issues if someone rely on the DeadSet queue to evaluate errors on their workers, as the actual limit is 100 and it can be easily be reached depending on the system size, causing dead workers to be discarded.

Also related to #170 as this config is being set at compilation time and is not overwritable.

Fr

[2018-10-29 19:43] edgurgel commented on #174
Yes you are right. We shouldn't do this at compilation time and we should definitely document. Thanks for bringing this up as an issue 👍

[2018-11-09 02:39] tlvenn commented on #167
Hi @klebervirgilio , any update on your progress ?
Thanks in advance.

[2019-01-07 12:31] robinvdvleuten opened #179 "function Verk.Supervisor.start_link/1 is undefined or private"
I am trying to add Verk to my supervised processes in a Phoenix 1.4 application;

[code]

But whenever I start my application, I receive the following error;

[code]

[2019-01-09 07:33] edgurgel commented on #179
Could you please check which version of Verk is defined inside your `mix.lock`? It should be defined if it's loaded 🤔

[2019-01-14 02:33] #174 closed

[2019-01-14 02:33] #170 closed

[2019-01-14 02:37] #131 closed

[2019-01-23 23:15] edgurgel commented on #157
https://github.com/edgurgel/verk/commit/3219d4e235d0452519421a64ada0e1cc1f3a1632

[2019-01-23 23:15] #157 closed

[2019-01-30 01:09] juddey opened #181 "Im surely missing something."
Hello,

Just got this deprecation with Elixir 1.8:
[code]
I was going to create a PR to fix this. so I cloned the repo and ran the tests, but the tests stop with:
`2 doctests, 263 tests, 122 failures, 2 excluded`.

Heres a failure:
[code]

Running on Ubuntu 16.04 if that makes any difference.

What have I not set up?

[2019-01-30 01:35] edgurgel commented on #181
Oh hey! Thanks for opening the issue!

TBH I didn't have time to try Elixir 1.8 but it seems like you hit an issue with `meck`: https://github.com/eproxus/meck/issues/201 . We probably need to use 0.8.13+

Can you try updating meck and check if the tests succeed?

[2019-01-30 01:38] edgurgel commented on #181
It reminds me that I need to move this project to use Mimic 🤣

[2019-01-30 02:44] juddey commented on #181
Hey, that worked. Just working through removing the deprecations now (in between other stuff).

[2019-04-16 23:23] ilgarm opened #187 "Coupling of producers and consumers?"
Hello,

Maybe I am getting something wrong here, please correct. Doesn't the requirement of having a worker class defined at the moment of enqueuing couples producers and consumers?

Consider the case when I have two different codebases relevant to separate clusters, and I want to set up a communication channel between them. So, the producer has to know the queue name and in addition a module name

[2019-04-19 22:33] edgurgel commented on #187
Verk works with specific type of jobs. It was not meant to be used like a topic of data (like Kafka, Rabbitmq). There's no concept of consumers or producers anywhere.

[2019-04-19 22:33] #187 closed

[2019-04-19 22:34] edgurgel commented on #179
Fixed by https://github.com/edgurgel/verk/commit/51250f78f01d1803a7263e93de7c483a1d1d3579

[2019-04-19 22:34] #179 closed

[2019-05-14 17:20] youalreadydid opened #188 "Upgrade GenStage to current version"
Hi,

I'm using Verk in an application, but now I need to consume some RabbitMQ messages and decided to try the [Broadway](https://github.com/plataformatec/broadway) library. The problem is that Verk set GenStage at 0.12 version, while Broadway set it at 0.14 (current), so I can't use them together :(

Is possible to upgrade this dependency? Thanks!

[2019-05-15 00:26] edgurgel commented on #188
Yes! Definitely! We can relax the dependency to `0.14` (currently 0.12.1) and it will accept everything but `1.0` (so if 0.15 comes out it will already be accepted)

[2019-06-01 20:31] juddey opened #189 "Version Conflict with Confex 3.4.0"
Hey Ed
I went to use the latest version of confex in my project, got:

[code]
A) Would you like a PR, and if so:
B) Should I relax (ie 3.0) or tighten (3.4) the version requirement?

Added override flag to my project in the meantime.

[2019-06-01 21:40] edgurgel commented on #189
Hey Justin,
Thanks for opening this issue!

I think we simply relax it to `~> 3.3` ? so 3.4 and anything above will work (but not 4.*)? Does this sound good for you?

[2019-06-03 00:02] #189 closed

[2019-06-04 05:04] edgurgel commented on #189
Verk 1.6.3 has been released 🎉

[2019-06-07 18:27] davidkovsky opened #191 "Loosen dependency on redis"
At my work we use Verk but are losing infrastructure support for Redis. If it were possible to configure the key/value store used then we could keep using Verk. I believe Cachex or Mnesia would work for us.

It's only a couple of services. Timing is critical and I'm not familiar with this code base. I'll probably remove the dependency on Verk from those services. We have polyglot microservices wit

[2019-06-07 22:41] edgurgel commented on #191
I would love to have swappable storage engines BUT it comes with a reasonably high price.

The problem with swappable k/v stores is that they would have completely different guarantees. We would need to ensure that the same guarantees are present. These are the main reasons why we picked Redis as datastore:

* Extremely fast as it uses in-memory data structures;
* Atomic changes to the data struct

[2019-06-08 02:36] davidkovsky commented on #191
Thanks. I appreciate the explanation.

[2019-06-09 07:42] edgurgel opened #192 "Verk 2.0"
Verk 2.0 is coming with some really cool features!

We will change the way that queues are represented. Instead of using Redis Lists we will use the newest data structure added to Redis: Streams!

Streams have very interesting characteristics that will solve a few issues that would be very complicated to solve without them!

It will:
* Simplify the failure detection of other Verk instances;
* Prov

[2019-06-15 21:58] #113 closed

[2019-06-28 16:10] thousandsofthem commented on #192
1) How about nodes that don't run any jobs? (e.g. then connecting to a server via iex to interact with the system (including enqueueing new jobs as well) but not to run any jobs by itself)? Very typical scenario for me, there are hacks to make it work with current version but these don't work very well

2) "all the jobs being run in the cluster" as mentioned in references

3) Any thoughts on self-

[2019-06-28 21:58] edgurgel commented on #192
Great questions! Thanks for taking the time to reply:

I've done this using the distillery `remote_console` command and it works really well. Another way that can be done is setting the queues configuration to be empty, but I would consider this a hacky way. Interested in other ideas 🤔

But yeah I think I need to think more about the client side of the Verk functions like `enqueue` so that no hack

[2019-06-28 23:52] thousandsofthem commented on #192
1)

Yes, i'm using it this way. Somehow doesn't work every time, so yeah, "hacky way"

2) Just agreeing on points mentioned in initial post

3) Good to know, thanks! Yep, didn't find the info, adding generally useful commands into README would be very useful 👍  _maybe_ adding stuff like `Verk.Queue.count!("queue_foo")` as well

[2019-07-27 01:46] #191 closed

[2019-08-18 16:37] Psli commented on #171
+1

[2019-08-26 22:18] jnylen commented on #153
Hi @edgurgel,

This would be wonderful to have, sidekiq_unique_jobs for example have this customizable.
But the default should be until the job has finished. And then if it fails, there should be a delay set in config.

[2019-08-31 00:55] jnylen commented on #192
Is a way to unique a specific worker or queue possible in the new update?

[2019-09-02 20:10] edgurgel commented on #192
Verk 1.0 and Verk 2.0 can support unique workers. We just never had traction enough to build it I think.

[2019-10-04 10:40] DiodonHystrix commented on #192
Not sure where to ask about it, so I'm gonna ask here.

Would it be possible to change it to warn/error level?
My reasoning is that debug is used to debug the code, but this is unknown error that we are silencing and it's not visible in a log file, neither can Sentry report it. I don't want to turn on debug level, because imo debug isn't meant for this. Wdyt?

https://github.com/edgurgel/verk/blob

[2019-10-04 20:29] edgurgel commented on #192
@DiodonHystrix, it's a bit unrelated to Verk 2.0 but I will answer here!

Why would like to know this type of information? What kind of information do you expect from it? 🤔

This is internal to the workers manager. If you want to track retries on your workers just go to the existing tracking events that you can receive: https://github.com/edgurgel/verk/tree/v1.6.3#error-tracking

[2019-10-05 07:54] DiodonHystrix commented on #192
Like I said, I'd like to see the errors in my logs (without a need to switch to the debug level).

Currently, I'm using Sentry to report any incidents and it doesn't get notified about the error, thus I have no clue that there was an error in my queue. It could be fixed by setting it to a debug level, but I don't think that's a correct solution.

I didn't notice error-tracking section, it could pr

[2019-11-01 18:52] mitcheaton1 opened #195 "Skip queuing jobs during tests."
Is there a way to do this? in other libraries it's usually provided in the config.exs like https://github.com/sorentwo/oban#testing

[2019-11-03 21:41] edgurgel commented on #195
hey @mitcheaton1, Verk does not have such feature but definitely keen to get something going if someone wants to send a PR 👍

[2019-12-16 09:27] joskar commented on #188
@edgurgel What is the state of this? Is someone working on this? I might have time to do so.

[2019-12-18 20:12] edgurgel commented on #188
Hey @joskar, we still need to do this. Because master is preparing for 2.0 release I will do this myself releasing a new tag on the 1.* series 👍 Thanks for bringing this up. It should be out before Christmas 😆 🎄

[2019-12-19 08:24] joskar commented on #188
Hey @edgurgel, I'm really happy to hear that!
Thank you for taking the time to reply :)

[2019-12-26 03:37] edgurgel commented on #188
1.6.4 is out 🎉 I think this fixes this issue 👍

[2019-12-26 03:37] #188 closed

[2020-02-17 23:33] heyitsjames opened #196 "Batch processing?"
I've been using Verk for the past year with great success. However, I have a current project that requires jobs to be processed in batches of 500, with a timeout of, say, 5 seconds. This means that my process will wait 5 seconds, or until it has 500 jobs to process, then will process the jobs accordingly.

I'm wondering what people more clever than I would do to solve this problem. Is there any wa

[2020-02-23 04:28] edgurgel commented on #196
Hey @heyitsjames ,

Maybe you could try writing workers that simply "synchronise" work by talking to a single process accumulating inside an ETS table?

This single process would simply hold an ETS table.

Once 500 is reached (your work adding jobs directly to this ETS table can find out if 500 was reached) or the time is up (5 seconds) then execute the work and reply back to all workers that are

[2020-03-23 23:03] heyitsjames commented on #196
@edgurgel Thank you for the response!

As an update, I ended up using a Verk queue with a max of 500 jobs, and then using `GenStateMachine` to handle batching and timeout/flush operations.

Ended up working quite nicely, is very performant, and can scale nicely with adding more queues and linking them to their own batcher.

Each of my worker processes declares a `receive` block that the batcher ca

[2020-03-23 23:03] #196 closed

[2020-04-03 11:22] mskv opened #198 "Defining contextual data for worker processes"
I have a feature suggestion (or maybe it's already supported somehow?).

Maybe it would be easier to start with use cases:
- The process that enqueues a Verk job has a `correlation-id` in its process dictionary. I use it to correlate logs. I would like to include this `correlation-id` in the serialized job and have the worker setup its process dictionary before performing the work. This way any lo

[2020-04-05 07:38] edgurgel commented on #198
Hey @mskv,

I'm not 100% sure if I understood what you are looking for but we currently have the whole Job information available inside the Process dictionary:
https://github.com/edgurgel/verk/blob/20af6bbfa3fb621e267e2909e44a7ded7b7eaf99/lib/verk/worker.ex#L14

Would this help with your problem?

[2020-04-05 08:09] mskv commented on #198
Thanks for the link. I don't think it helps in this case. Maybe I'll expand on the `correlation-id` example.

I have a web server. At the beginning of each request it generates a `correlation-id`. It adds it to Logger metadata. So every single log message generated when handling the request contains `correlation-id`. When the process handling the web request enqueues a Verk job, I would like to at

[2020-04-07 21:03] edgurgel commented on #198
@mskv ,

Yeah I think the best approach is to include this `metadata` as part of the arguments. Maybe always using the first argument as metadata as a hash so you can add whatever is useful to track this information?

[2020-04-09 19:46] mskv commented on #198
Thanks, will go that way probably, closing the issue.

[2020-04-09 19:46] #198 closed

[2020-10-19 11:21] tlvenn commented on #192
Hi @edgurgel,

Hope you are doing well, is there any update you could share regarding your plan for the 2.0 ?
Thanks !

[2021-06-07 15:47] jwietelmann opened #203 "[question] What are the risks of the "experimental" generate_node_id feature?"
Seems like `generate_node_id` is a couple years old now. Is it considered experimental?

We're looking at using Kubernetes autoscaling, so to handle the issue of what happens when we scale down, it's either use `generate_node_id` or migrate off of `verk`. I'd like to figure out how safe the feature is at this point.

What should we be watching out for, if anything?

[2021-06-09 01:32] edgurgel commented on #203
Grat question. I think we can safely update this to not be considered experimental anymore. It has been used in production for a few years and it has worked as intended 👌 . It could probably default to `true` tbh

[2021-11-22 21:34] tlvenn commented on #192
Hi @edgurgel ,

Hope you are doing well, it would be great to have an idea of what happened with the plan (and the branch for that matter) for the 2.0 version ?

Just trying to gauge if this is something that will still happen at some point or not.
Thanks in advance.

[2021-11-26 01:13] edgurgel commented on #192
Hi @tlvenn,

At this stage it's indefinitely on hold because I don't have the time to invest on getting Verk 2.0 out with all the changes required to Verk Web.

[2021-12-21 03:38] tlvenn commented on #192
Hi @edgurgel ,

Thanks for getting back to me. Would it be possible to envision a v2 without verk Web but supporting telemetry so people can plug on to it to monitor verk ? Maybe that would be a pretty decent intermediate state without asking you for too much ? It seemed to me that the v2 branch you had was pretty close to being stable or was there much more work to do ?

In any event, thanks for

[2022-10-21 03:09] SirFitz opened #205 "How do I setup Verk as a producer only?"
Greetings,

I want to be able to queue verk jobs from my API and allow my job processors on separate servers to handle that, but I'm not seeing any notes on how to do this, how would I be able to get a setup like that working?

[2022-10-25 07:45] edgurgel commented on #205
Hi @SirFitz, if you don't configure Verk to consume queues you can then use `Verk.enqueue` to produce jobs. `queues: []`

https://github.com/edgurgel/verk#configuration

[2022-11-03 15:33] heyitsjames opened #206 "Connect to Redix via ipv6?"
Hi, I'm deploying my app to a production environment which employs a managed Redis that uses ipv6 as the connection url. Redix supports ipv6 via passing `socket_opts: [:inet6]` to `Redix.start_link/2.` However, it looks like Verk doesn't allow passing extra options to Redix, using `Redix.start_link/2` with just a url and no additional options.

Is there any way to start Redix with ipv6 in Verk? Th

[2022-11-06 20:17] edgurgel commented on #206
Hmm yeah we might need to add an option to configure Redix more directly :thinking:

Maybe some arguments to the Verk.Supervisor?